/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* Base stuff */
@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KiroExtraLight';
  src: url("../fonts/KiroExtraLight.eot");
  src: url("../fonts/KiroExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroExtraLight.woff") format("woff"), url("../fonts/KiroExtraLight.ttf") format("truetype"), url("../fonts/KiroExtraLight.otf") format("otf");
}
@font-face {
  font-family: 'KiroLight';
  src: url("../fonts/KiroLight.eot");
  src: url("../fonts/KiroLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroLight.woff") format("woff"), url("../fonts/KiroLight.ttf") format("truetype"), url("../fonts/KiroLight.otf") format("otf");
}
@font-face {
  font-family: 'KiroRegular';
  src: url("../fonts/KiroRegular.eot");
  src: url("../fonts/KiroRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroRegular.woff") format("woff"), url("../fonts/KiroRegular.ttf") format("truetype"), url("../fonts/KiroRegular.otf") format("otf");
}
@font-face {
  font-family: 'KiroBold';
  src: url("../fonts/KiroBold.eot");
  src: url("../fonts/KiroBold.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroBold.woff") format("woff"), url("../fonts/KiroBold.ttf") format("truetype"), url("../fonts/KiroBold.otf") format("otf");
}
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.otf") format("otf");
}
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.otf") format("otf");
}
@font-face {
  font-family: 'NexaSlabRegular';
  src: url("../fonts/NexaSlabRegular.eot");
  src: url("../fonts/NexaSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlabRegular.woff") format("woff"), url("../fonts/NexaSlabRegular.ttf") format("truetype"), url("../fonts/NexaSlabRegular.otf") format("otf");
}
@font-face {
  font-family: 'NexaSlabBold';
  src: url("../fonts/NexaSlabBold.eot");
  src: url("../fonts/NexaSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlabBold.woff") format("woff"), url("../fonts/NexaSlabBold.ttf") format("truetype"), url("../fonts/NexaSlabBold.otf") format("otf");
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'KiroRegular';
  border-top: 5px solid #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NexaSlabBold';
  color: #2f2f2f;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 27px;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 15px;
  color: #33738e;
  top: -35px;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.input-holder {
  position: relative;
  margin-bottom: 22px;
}
.input-holder label {
  color: #435f6b;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}
.input-holder label span {
  color: #33738e;
}
.input-holder.wide {
  width: 100%;
}

input, textarea {
  background: rgba(255, 255, 255, 0.4);
  padding: 15px;
  border: 0;
  width: 100%;
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: 1px solid #c1d0d2;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #33738e;
}

textarea {
  width: 100%;
  min-height: 293px;
  resize: none;
}

.social {
  white-space: nowrap;
  font-family: "Socialico";
}
.social a {
  margin: 0 2px;
  font-size: 50px;
  color: #656563;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social.green a:hover {
  color: #2e952c;
}

.social.white a {
  color: #ffffff;
}
.social.white a:hover {
  color: #2f2f2f;
}

.divider {
  text-align: center;
}
.divider span {
  display: inline-block;
  width: 60px;
  height: 7px;
}

.btn-big {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 35px;
  font-family: 'NexaBold';
  font-size: 31px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 20px 0 20px 0;
  -moz-border-radius: 20px 0 20px 0;
  -ms-border-radius: 20px 0 20px 0;
  border-radius: 20px 0 20px 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-width: 3px;
  border-style: solid;
}
.btn-big:hover {
  background: rgba(255, 255, 255, 0.7);
}
.btn-big-black {
  border-color: #04283b;
  color: #2f2f2f;
}
.btn-big-green {
  border-color: #30a42e;
  color: #2f2f2f;
  padding: 12px 35px;
}
.btn-big-blue {
  border-color: #83a6ac;
  color: #296077;
}

/* Layout related stylesheets* */
.header {
  padding-top: 28px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header-logo {
  float: left;
}
.header-logo p {
  font-family: 'NexaSlabBold';
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .header-logo {
    float: none;
    display: block;
    margin-bottom: 20px;
  }
}
.header-menu {
  float: right;
}
.header-menu-item {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  width: 72px;
  height: 72px;
  line-height: 65px;
  background: #34474f;
  margin-left: 6px;
}
.header-menu-item:after {
  content: "";
  display: table;
  clear: both;
}
.header-menu-item img {
  vertical-align: middle;
}
.header-menu-item:hover, .header-menu-item.active {
  background: #2e708b;
}
@media only screen and (max-width: 767px) {
  .header-menu {
    float: none;
  }
  .header-menu-item {
    float: none;
  }
}

.footer-section {
  position: relative;
}
.footer-section:before {
  content: '';
  background: url(../img/icons/footer_hexagon.png);
  width: 85px;
  height: 99px;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -42px;
}

.footer-inner {
  background: url(../img/bg/footer_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 85px 0 30px;
}
.footer-inner .footer-hexagon {
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -42px;
}
@media only screen and (max-width: 767px) {
  .footer-inner img {
    max-width: 250px;
  }
}
.footer-inner .language {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 0;
}
.footer-inner .language p {
  font-family: 'KiroLight';
  font-size: 11px;
  color: #ffffff;
  margin-top: 5px;
  letter-spacing: 1px;
}
.footer-inner .language button {
  border-radius: 0;
  font-size: 12px;
  color: #252422;
  text-transform: uppercase;
  background: #e0e0e0;
  padding: 2px 10px;
}
.footer-inner .language button.dropdown-toggle {
  background: #cccccc;
}
.footer-inner .language .dropdown-menu {
  border-radius: 0;
  min-width: 75px;
  font-size: 12px;
  color: #252422;
  text-transform: uppercase;
  padding: 0;
  background: none;
  border: none;
}
.footer-inner .language .dropdown-menu li {
  margin-top: 1px;
  background: #e0e0e0;
}
.footer-inner .language .dropdown-menu li img {
  float: right;
  margin-left: 5px;
  margin-top: 2px;
}
.footer-inner .language .dropdown-menu li a {
  padding: 3px 5px 3px 10px;
}
@media only screen and (max-width: 767px) {
  .footer-inner .language {
    position: static;
    text-align: center;
    margin-top: 25px;
  }
}

.footer-bottom {
  background: #dddddd;
  text-align: center;
  padding: 7px 0;
  position: relative;
}
.footer-bottom:after {
  content: '';
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dddddd;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
}
.footer-bottom p {
  font-size: 13px;
  color: #232221;
  letter-spacing: 4px;
}

/* Pages */
.top-section {
  background: url(../img/bg/top_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
}
.top-section:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(74, 131, 157, 0.7);
  width: 100%;
  height: 150px;
}

.top-main {
  border-bottom: 15px solid #ffffff;
}
.top-main:after {
  bottom: -15px;
}
.top-main:before {
  content: '';
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
}
.top-main .header {
  position: relative;
}
.top-main .header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -136px;
}
@media only screen and (max-width: 767px) {
  .top-main .header-logo {
    position: static;
    display: block;
    margin-left: 0;
    margin-bottom: 25px;
  }
}
.top-main-inner {
  padding-top: 25px;
  padding-bottom: 340px;
}
.top-main-inner .divider {
  margin: 20px 0 35px;
}
.top-main-inner .divider span {
  background: #2f2f2f;
}
.top-main-inner p {
  font-family: 'NexaLight';
  font-size: 30px;
  color: #2f2f2f;
  margin: 10px 0;
}
.top-main .scroll-down {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.top-main .scroll-down a {
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.top-main .scroll-down a img {
  margin: 0 5px;
}
.top-main .scroll-down a:before, .top-main .scroll-down a:after {
  content: '';
  width: 61px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}
.top-main .scroll-down a:before {
  background: url(../img/icons/scroll_down_before.png) no-repeat;
  height: 20px;
  top: -25px;
}
.top-main .scroll-down a:after {
  background: url(../img/icons/scroll_down_after.png) no-repeat;
  height: 28px;
  bottom: -33px;
}

.whatis-section {
  background: url(../img/bg/whatis_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  border-top: 15px solid #ffffff;
  padding: 60px 0 90px;
}
.whatis-section p {
  font-family: 'KiroExtraLight';
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.traits-section {
  background: url(../img/bg/traits_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 60px 0 40px;
  text-align: center;
}
.traits-section .image-holder {
  margin-bottom: 15px;
  height: 115px;
  line-height: 115px;
}
.traits-section .image-holder img {
  vertical-align: bottom;
}
.traits-section p {
  font-family: 'KiroBold';
  font-size: 19px;
  color: #ececec;
}
@media only screen and (max-width: 767px) {
  .traits-section .traits-section-item {
    margin-bottom: 20px;
  }
}

.story-section {
  background: #2a2a2a;
  padding: 80px 0 50px;
  overflow: hidden;
}
.story-section .story-left-inner {
  display: inline-block;
  position: relative;
}
.story-section .story-left-inner .item {
  position: absolute;
  top: 115px;
  left: 0;
}
@media only screen and (max-width: 991px) {
  .story-section .story-left {
    text-align: center;
    margin-bottom: 25px;
  }
}
.story-section .story-right {
  text-align: right;
}
.story-section .story-right h4 {
  color: #d4e2e8;
}
.story-section .story-right .divider {
  text-align: right;
  margin: 5px 0 10px;
}
.story-section .story-right .divider span {
  background: #d4e2e8;
  width: 30px;
}
.story-section .story-right p {
  font-family: 'KiroExtraLight';
  font-size: 25px;
  color: #d4e2e8;
}
@media only screen and (max-width: 991px) {
  .story-section .story-right {
    text-align: center;
  }
  .story-section .story-right .divider {
    text-align: center;
  }
}

.green-section {
  background: url(../img/bg/green_bg.jpg) top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 105px 0 55px;
  text-align: center;
}
.green-section h3 {
  color: #fcfcfc;
  margin-bottom: 20px;
}
.green-section p {
  color: #ffffff;
  font-family: 'KiroExtraLight';
  font-size: 23px;
}
.green-section .eco {
  margin-top: 80px;
  text-align: left;
}
.green-section .eco p {
  padding-right: 110px;
}
.green-section .eco img {
  float: right;
}
.green-section .green-bottom {
  margin-top: 200px;
}
.green-section .green-bottom p {
  color: #2b2b2b;
  margin-bottom: 20px;
}
.green-section .green-bottom .social {
  margin-top: 35px;
}

@media only screen and (max-width: 767px) {
  .top-contacts .header-logo img {
    width: 250px;
  }
}
.top-contacts:after {
  height: 120px;
}
.top-contacts-inner {
  padding-top: 75px;
  padding-bottom: 300px;
}
.top-contacts-inner h4 {
  font-size: 31px;
  color: #224e61;
  text-transform: uppercase;
}
.top-contacts-inner h5 {
  font-size: 19px;
  color: #224e61;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
.top-contacts-inner .divider span {
  background: #2b5c70;
  width: 45px;
}
.top-contacts-inner .success {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 25px 0;
  background: url(../img/icons/success.png) no-repeat center, #33738e;
  padding: 10px 5px;
  font-family: 'KiroLight';
  font-size: 31px;
  color: #fbf8f0;
  text-transform: uppercase;
  font-style: italic;
}
.top-contacts-inner .btn-holder {
  position: relative;
}
.top-contacts-inner .btn-holder .btn-big {
  width: 100%;
}
.top-contacts-inner .btn-holder span {
  font-family: 'KiroLight';
  position: absolute;
  left: 0;
  bottom: 28px;
  background: #397791;
  font-size: 15px;
  color: #ffffff;
  padding: 3px 8px;
  letter-spacing: 2px;
  text-transform: none;
}
@media only screen and (max-width: 767px) {
  .top-contacts-inner .btn-holder span {
    bottom: 3px;
  }
}
.top-contacts-inner .social {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  z-index: 10;
}
