/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* Base stuff */
@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KiroExtraLight';
  src: url("../fonts/KiroExtraLight.eot");
  src: url("../fonts/KiroExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroExtraLight.woff") format("woff"), url("../fonts/KiroExtraLight.ttf") format("truetype"), url("../fonts/KiroExtraLight.otf") format("otf");
}
@font-face {
  font-family: 'KiroLight';
  src: url("../fonts/KiroLight.eot");
  src: url("../fonts/KiroLight.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroLight.woff") format("woff"), url("../fonts/KiroLight.ttf") format("truetype"), url("../fonts/KiroLight.otf") format("otf");
}
@font-face {
  font-family: 'KiroRegular';
  src: url("../fonts/KiroRegular.eot");
  src: url("../fonts/KiroRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroRegular.woff") format("woff"), url("../fonts/KiroRegular.ttf") format("truetype"), url("../fonts/KiroRegular.otf") format("otf");
}
@font-face {
  font-family: 'KiroBold';
  src: url("../fonts/KiroBold.eot");
  src: url("../fonts/KiroBold.eot?#iefix") format("embedded-opentype"), url("../fonts/KiroBold.woff") format("woff"), url("../fonts/KiroBold.ttf") format("truetype"), url("../fonts/KiroBold.otf") format("otf");
}
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.otf") format("otf");
}
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.otf") format("otf");
}
@font-face {
  font-family: 'NexaSlabRegular';
  src: url("../fonts/NexaSlabRegular.eot");
  src: url("../fonts/NexaSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlabRegular.woff") format("woff"), url("../fonts/NexaSlabRegular.ttf") format("truetype"), url("../fonts/NexaSlabRegular.otf") format("otf");
}
@font-face {
  font-family: 'NexaSlabBold';
  src: url("../fonts/NexaSlabBold.eot");
  src: url("../fonts/NexaSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlabBold.woff") format("woff"), url("../fonts/NexaSlabBold.ttf") format("truetype"), url("../fonts/NexaSlabBold.otf") format("otf");
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'KiroRegular';
  border-top: 5px solid #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NexaSlabBold';
  color: #2f2f2f;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 27px;
}

h5.title {
  text-align: center;
}
h5.title span {
  position: relative;
  font-family: 'KiroBold';
  font-size: 20px;
  color: #42687c;
  text-transform: uppercase;
}
h5.title span:before, h5.title span:after {
  content: '';
  position: absolute;
  top: 12px;
  height: 1px;
  width: 1500px;
  background: #42687c;
}
h5.title span:before {
  right: 100%;
  margin-right: 15px;
}
h5.title span:after {
  left: 100%;
  margin-left: 15px;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 15px;
  color: #33738e;
  top: -35px;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.input-holder {
  position: relative;
  margin-bottom: 22px;
}
.input-holder label {
  color: #435f6b;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}
.input-holder label span {
  color: #33738e;
}
.input-holder.wide {
  width: 100%;
}

input, textarea {
  background: rgba(255, 255, 255, 0.4);
  padding: 15px;
  border: 0;
  width: 100%;
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: 1px solid #c1d0d2;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #33738e;
}

textarea {
  width: 100%;
  min-height: 293px;
  resize: none;
}

.social {
  text-align: center;
  white-space: nowrap;
  font-family: "Socialico";
}
.social a {
  margin: 0 2px;
  font-size: 50px;
  color: #656563;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social.blue a:hover {
  color: #3b7492;
}

.social.green a:hover {
  color: #2e952c;
}

.social.white a {
  color: #ffffff;
}
.social.white a:hover {
  color: #2f2f2f;
}

.divider {
  text-align: center;
}
.divider span {
  display: inline-block;
  width: 60px;
  height: 7px;
}

.content-banner {
  min-height: 125px;
  background: url(../img/bg/banner_bg.jpg) center;
  border: 1px solid #35748f;
  position: relative;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.content-banner:after {
  content: "";
  display: table;
  clear: both;
}
.content-banner .caption {
  width: 50%;
  float: right;
  padding-top: 5px;
}
.content-banner .caption h5 {
  font-family: 'KiroRegular';
  font-size: 51px;
  color: #ffffff;
  margin-bottom: 8px;
}
.content-banner .caption h5 span {
  background: #bd262b;
  padding: 0 10px 4px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  display: inline;
}
.content-banner .caption p {
  font-family: 'KiroLight';
  font-size: 29px;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .content-banner .caption {
    float: none;
    width: 100%;
  }
}

.content-social {
  padding: 55px 0;
}

.btn-big {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 35px;
  font-family: 'NexaBold';
  font-size: 31px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 20px 0 20px 0;
  -moz-border-radius: 20px 0 20px 0;
  -ms-border-radius: 20px 0 20px 0;
  border-radius: 20px 0 20px 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-width: 3px;
  border-style: solid;
}
.btn-big:hover {
  background: rgba(255, 255, 255, 0.7);
}
.btn-big-black {
  border-color: #04283b;
  color: #2f2f2f;
}
.btn-big-green {
  border-color: #30a42e;
  color: #2f2f2f;
  padding: 12px 35px;
}
.btn-big-blue {
  border-color: #83a6ac;
  color: #296077;
}

.btn-small {
  display: inline-block;
  font-family: 'NexaBold';
  font-size: 17px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  -moz-border-radius: 10px 0 10px 0;
  -ms-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-width: 3px;
  border-style: solid;
}
.btn-small-blue {
  background: #3b7492;
  color: #ffffff;
  border-color: #0a3348;
}
.btn-small-blue:hover {
  background: #184b66;
}
.btn-small-orange {
  background: #e99235;
  color: #ffffff;
  border-color: #04283b;
}
.btn-small-orange:hover {
  background: #9c580f;
}
.btn-small-green {
  background: #90b83a;
  color: #ffffff;
  border-color: #04283b;
}
.btn-small-green:hover {
  background: #749925;
}

/* Layout related stylesheets* */
.header {
  padding-top: 28px;
  padding-bottom: 20px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header-cart {
  max-width: 320px;
  float: right;
  margin-right: 70px;
  padding-top: 15px;
}
.header-cart:after {
  content: "";
  display: table;
  clear: both;
}
.header-cart .text-holder {
  float: left;
  text-align: right;
  padding-right: 15px;
}
.header-cart .text-holder p {
  font-family: 'KiroLight';
  font-size: 20px;
  color: #223e43;
  margin-bottom: 2px;
}
.header-cart .text-holder .price {
  font-family: 'KiroBold';
  font-size: 20px;
  height: 20px;
  display: inline-block;
  color: #21556b;
  border-left: 2px solid #21556b;
  padding-left: 10px;
}
.header-cart .btn-holder {
  float: right;
}
.header-cart .btn-holder a {
  font-family: 'KiroLight';
  width: 135px;
  display: block;
  background: #62b137;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 15px 12px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header-cart .btn-holder a span {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 41px;
  text-align: center;
  padding-top: 13px;
  background: #89d360;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header-cart .btn-holder a:hover {
  background: #4d9527;
}
.header-cart .btn-holder a:hover span {
  background: #75ba4e;
}
@media only screen and (max-width: 1199px) {
  .header-cart {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .header-cart {
    float: none;
    margin: auto;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .header-cart {
    padding-top: 30px;
  }
  .header-cart .btn-holder a {
    text-align: left;
  }
}
.header-single {
  background: url(../img/bg/header_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.header-logo {
  float: left;
}
.header-logo p {
  font-family: 'NexaSlabBold';
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}
.header-logo-left {
  position: relative;
}
.header-logo-left:after {
  content: '';
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  position: absolute;
  top: -30px;
  left: 69px;
}
@media only screen and (max-width: 767px) {
  .header-logo {
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  .header-logo-left:after {
    left: 50%;
    margin-left: -10px;
  }
}
.header-menu {
  float: right;
}
.header-menu-item {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  text-align: center;
  width: 72px;
  height: 72px;
  line-height: 65px;
  background: #34474f;
  margin-left: 6px;
}
.header-menu-item:after {
  content: "";
  display: table;
  clear: both;
}
.header-menu-item img {
  vertical-align: middle;
}
.header-menu-item:hover, .header-menu-item.active {
  background: #2e708b;
}
@media only screen and (max-width: 767px) {
  .header-menu {
    float: none;
  }
  .header-menu-item {
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header-logo img {
    width: 250px;
  }
}

.footer-section {
  position: relative;
}
.footer-section:before {
  content: '';
  background: url(../img/icons/footer_hexagon.png);
  width: 85px;
  height: 99px;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -42px;
}

.footer-inner {
  background: url(../img/bg/footer_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 85px 0 30px;
}
.footer-inner .footer-hexagon {
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -42px;
}
@media only screen and (max-width: 767px) {
  .footer-inner img {
    max-width: 250px;
  }
}
.footer-inner .language {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 0;
}
.footer-inner .language p {
  font-family: 'KiroLight';
  font-size: 11px;
  color: #ffffff;
  margin-top: 5px;
  letter-spacing: 1px;
}
.footer-inner .language button {
  border-radius: 0;
  font-size: 12px;
  color: #252422;
  text-transform: uppercase;
  background: #e0e0e0;
  padding: 2px 10px;
}
.footer-inner .language button.dropdown-toggle {
  background: #cccccc;
}
.footer-inner .language .dropdown-menu {
  border-radius: 0;
  min-width: 75px;
  font-size: 12px;
  color: #252422;
  text-transform: uppercase;
  padding: 0;
  background: none;
  border: none;
}
.footer-inner .language .dropdown-menu li {
  margin-top: 1px;
  background: #e0e0e0;
}
.footer-inner .language .dropdown-menu li img {
  float: right;
  margin-left: 5px;
  margin-top: 2px;
}
.footer-inner .language .dropdown-menu li a {
  padding: 3px 5px 3px 10px;
}
@media only screen and (max-width: 767px) {
  .footer-inner .language {
    position: static;
    text-align: center;
    margin-top: 25px;
  }
}

.footer-bottom {
  background: #dddddd;
  text-align: center;
  padding: 7px 0;
  position: relative;
}
.footer-bottom:after {
  content: '';
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dddddd;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
}
.footer-bottom p {
  font-size: 13px;
  color: #232221;
  letter-spacing: 4px;
}

.nav-section {
  background: url(../img/bg/nav_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  border-top: 8px solid #163b4e;
  border-bottom: 8px solid #163b4e;
  position: relative;
}
.nav-section ul {
  text-align: center;
  margin-top: -8px;
  margin-bottom: -8px;
  padding-left: 30px;
}
.nav-section ul li {
  display: inline-block;
  margin-left: -3px;
}
.nav-section ul li a {
  padding: 40px 30px 50px;
  display: block;
  font-size: 35px;
  text-transform: uppercase;
  color: #fbf8f0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-section ul li.active a, .nav-section ul li:hover a {
  background: rgba(255, 255, 255, 0.1);
}
.nav-section ul li.active a span {
  border-bottom: 2px solid #ffffff;
  position: relative;
}
.nav-section ul li.active a span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
}
@media only screen and (max-width: 767px) {
  .nav-section ul {
    padding-left: 0;
  }
}
.nav-section:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 20px;
  background: url(../img/bg/shape_bg.png) center;
}
.nav-section:before {
  content: '';
  background: url(../img/icons/blue_hexagon.png);
  width: 85px;
  height: 99px;
  position: absolute;
  left: 50%;
  bottom: -75px;
  margin-left: -42px;
  z-index: 10;
}

.hexagon {
  position: relative;
  width: 23px;
  height: 13.28px;
  margin: 6.64px 0;
  border-left: solid 1px #c7c7b2;
  border-right: solid 1px #c7c7b2;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 16.26px;
  height: 16.26px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 2.3683px;
}

.hexagon:before {
  top: -8.1317px;
  border-top: solid 1.4142px #c7c7b2;
  border-right: solid 1.4142px #c7c7b2;
}

.hexagon:after {
  bottom: -8.1317px;
  border-bottom: solid 1.4142px #c7c7b2;
  border-left: solid 1.4142px #c7c7b2;
}

.hexagon.yellow {
  background-color: #f3f146;
}

/* Pages */
.top-section {
  background: url(../img/bg/top_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
}
.top-section:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(74, 131, 157, 0.7);
  width: 100%;
  height: 150px;
}

.top-main {
  border-bottom: 15px solid #ffffff;
}
.top-main:after {
  bottom: -15px;
}
.top-main:before {
  content: '';
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
}
.top-main .header {
  position: relative;
}
.top-main .header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -136px;
}
@media only screen and (max-width: 991px) {
  .top-main .header-logo img {
    width: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .top-main .header-logo {
    position: static;
    display: block;
    margin-left: 0;
    margin-bottom: 25px;
  }
}
.top-main-inner {
  padding-top: 25px;
  padding-bottom: 340px;
}
.top-main-inner .divider {
  margin: 20px 0 35px;
}
.top-main-inner .divider span {
  background: #2f2f2f;
}
.top-main-inner p {
  font-family: 'NexaLight';
  font-size: 30px;
  color: #2f2f2f;
  margin: 10px 0;
}
@media only screen and (max-width: 767px) {
  .top-main-inner {
    padding-bottom: 200px;
  }
  .top-main-inner h1 {
    font-size: 70px;
  }
}
.top-main .scroll-down {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.top-main .scroll-down a {
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.top-main .scroll-down a img {
  margin: 0 5px;
}
.top-main .scroll-down a:before, .top-main .scroll-down a:after {
  content: '';
  width: 61px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}
.top-main .scroll-down a:before {
  background: url(../img/icons/scroll_down_before.png) no-repeat;
  height: 20px;
  top: -25px;
}
.top-main .scroll-down a:after {
  background: url(../img/icons/scroll_down_after.png) no-repeat;
  height: 28px;
  bottom: -33px;
}

.whatis-section {
  background: url(../img/bg/whatis_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  border-top: 15px solid #ffffff;
  padding: 60px 0 90px;
  position: relative;
}
.whatis-section p {
  font-family: 'KiroExtraLight';
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
.whatis-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 16px;
  background: url(../img/bg/shape_bg.png) center;
}
.whatis-section:before {
  content: '';
  background: url(../img/icons/black_hexagon.png);
  width: 85px;
  height: 99px;
  position: absolute;
  left: 50%;
  bottom: -41px;
  margin-left: -42px;
  z-index: 10;
}

.bike-section {
  text-align: center;
  padding: 120px 0 100px;
  background: url(../img/bg/bike_bg.jpg);
}
.bike-section .description {
  position: absolute;
  top: 50px;
  width: 300px;
}
.bike-section .description p {
  font-size: 25px;
  color: #397791;
  margin-bottom: 5px;
}
.bike-section .description p:after {
  content: "";
  display: table;
  clear: both;
}
.bike-section .description span {
  background: #397791;
  padding: 0 8px 3px;
  font-family: 'KiroBold';
  font-size: 19px;
  color: #ececec;
  margin-top: 4px;
}
.bike-section .description.left-description {
  left: 0;
  text-align: left;
}
.bike-section .description.left-description span {
  float: left;
  margin-right: 10px;
}
.bike-section .description.right-description {
  text-align: right;
  right: 0;
}
.bike-section .description.right-description span {
  float: right;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .bike-section {
    padding: 60px 0;
  }
  .bike-section img {
    max-width: 100%;
  }
  .bike-section .description {
    position: static;
    width: auto;
    max-width: 300px;
    margin: auto;
  }
}

.gallery-section {
  border-bottom: 7px solid #7ca2b2;
  overflow: hidden;
}
.gallery-section .gallery img {
  height: 155px;
}
.gallery-section .owl-carousel .owl-stage-outer {
  overflow: visible;
}
.gallery-section .owl-carousel .owl-stage-outer:before,
.gallery-section .owl-carousel .owl-stage-outer:after {
  content: '';
  height: 155px;
  width: 1000px;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000000;
}
.gallery-section .owl-carousel .owl-stage-outer:before {
  right: 100%;
  margin-right: -70px;
}
.gallery-section .owl-carousel .owl-stage-outer:after {
  left: 100%;
  margin-left: -70px;
}

.traits-section {
  background: url(../img/bg/traits_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 60px 0 40px;
  text-align: center;
}
.traits-section .image-holder {
  margin-bottom: 15px;
  height: 115px;
  line-height: 115px;
}
.traits-section .image-holder img {
  vertical-align: bottom;
}
.traits-section p {
  font-family: 'KiroBold';
  font-size: 19px;
  color: #ececec;
}
@media only screen and (max-width: 767px) {
  .traits-section .traits-section-item {
    margin-bottom: 20px;
  }
}

.story-section {
  background: #2a2a2a;
  padding: 80px 0 200px;
  overflow: hidden;
  border-top: 20px solid #252c30;
  border-bottom: 15px solid #373737;
}
.story-section .story-left-inner {
  display: inline-block;
  position: relative;
}
.story-section .story-left-inner .item {
  position: absolute;
  top: 115px;
  left: 0;
}
@media only screen and (max-width: 991px) {
  .story-section .story-left {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .story-section .story-left {
    width: 100%;
  }
  .story-section .story-left img {
    width: 100%;
  }
}
.story-section .story-right {
  text-align: right;
}
.story-section .story-right h4 {
  color: #d4e2e8;
}
.story-section .story-right .divider {
  text-align: right;
  margin: 5px 0 10px;
}
.story-section .story-right .divider span {
  background: #d4e2e8;
  width: 30px;
}
.story-section .story-right p {
  font-family: 'KiroExtraLight';
  font-size: 25px;
  color: #d4e2e8;
}
@media only screen and (max-width: 991px) {
  .story-section .story-right {
    text-align: center;
  }
  .story-section .story-right .divider {
    text-align: center;
  }
}

.faq-section {
  background: #134761;
  padding-bottom: 65px;
  position: relative;
}
.faq-section .tabpanel {
  position: relative;
}
.faq-section .nav-tabs {
  border-color: #d2e2e9;
  margin-top: -110px;
}
.faq-section .nav-tabs li {
  width: 50%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: relative;
  margin-bottom: 0;
}
.faq-section .nav-tabs li a {
  text-align: center;
  font-family: 'NexaSlabBold';
  font-size: 30px;
  color: #747474;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-color: transparent;
  margin-right: 0;
  padding: 35px 0 30px;
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.faq-section .nav-tabs li a:before {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 5px;
  width: 20px;
  margin-left: -10px;
  background: #747474;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.faq-section .nav-tabs li a:focus {
  border-color: transparent;
}
.faq-section .nav-tabs li:hover a, .faq-section .nav-tabs li.active a {
  background: #d2e2e9;
  color: #134761;
}
.faq-section .nav-tabs li:hover a:before, .faq-section .nav-tabs li.active a:before {
  background: #134761;
}
.faq-section .nav-tabs li:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.faq-section .nav-tabs li.active:after {
  border-top: 15px solid #d2e2e9;
}
.faq-section .tab-content {
  background: #ffffff;
  padding: 65px 50px;
}
.faq-section .tab-content:after {
  content: "";
  display: table;
  clear: both;
}
.faq-section .tab-items .divider {
  margin-bottom: 10px;
}
.faq-section .tab-items .divider span {
  width: 210px;
  height: 4px;
  background: #397791;
}
.faq-section .tab-items h5 {
  font-family: 'KiroBold';
  font-size: 19px;
  color: #2d2d2d;
}
.faq-section .tab-items p {
  text-align: justify;
  font-family: 'KiroLight';
  font-size: 19px;
  line-height: 1.2;
}
.faq-section .tab-items.left {
  text-align: left;
}
.faq-section .tab-items.left .divider {
  text-align: left;
}
.faq-section .tab-items.right {
  text-align: right;
}
.faq-section .tab-items.right .divider {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .faq-section .nav-tabs li a {
    font-size: 20px;
  }
  .faq-section .tab-content {
    padding: 35px 20px;
  }
  .faq-section .tab-items .divider span {
    width: 100%;
  }
}
.faq-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 20px;
  background: url(../img/bg/shape_bg.png) center;
}
.faq-section:before {
  content: '';
  background: url(../img/icons/black_hexagon.png);
  width: 85px;
  height: 99px;
  position: absolute;
  left: 50%;
  bottom: -58px;
  margin-left: -42px;
  z-index: 10;
}

.green-section {
  background: url(../img/bg/green_bg.jpg) top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 105px 0 55px;
  text-align: center;
}
.green-section h3 {
  color: #fcfcfc;
  margin-bottom: 20px;
}
.green-section p {
  color: #ffffff;
  font-family: 'KiroExtraLight';
  font-size: 23px;
}
.green-section .eco {
  margin-top: 80px;
  text-align: left;
}
.green-section .eco p {
  padding-right: 110px;
}
.green-section .eco img {
  float: right;
}
.green-section .green-bottom {
  margin-top: 200px;
}
.green-section .green-bottom p {
  color: #2b2b2b;
  margin-bottom: 20px;
}
.green-section .green-bottom .social {
  margin-top: 35px;
}
@media only screen and (max-width: 991px) {
  .green-section h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .top-contacts .header-logo img {
    width: 250px;
  }
}
.top-contacts:after {
  height: 120px;
}
.top-contacts-inner {
  padding-top: 75px;
  padding-bottom: 300px;
}
.top-contacts-inner h4 {
  font-size: 31px;
  color: #224e61;
  text-transform: uppercase;
}
.top-contacts-inner h5 {
  font-size: 19px;
  color: #224e61;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
.top-contacts-inner .divider span {
  background: #2b5c70;
  width: 45px;
}
.top-contacts-inner .success {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 25px 0;
  background: url(../img/icons/success.png) no-repeat center, #33738e;
  padding: 10px 5px;
  font-family: 'KiroLight';
  font-size: 31px;
  color: #fbf8f0;
  text-transform: uppercase;
  font-style: italic;
}
.top-contacts-inner .btn-holder {
  position: relative;
}
.top-contacts-inner .btn-holder .btn-big {
  width: 100%;
}
.top-contacts-inner .btn-holder span {
  font-family: 'KiroLight';
  position: absolute;
  left: 0;
  bottom: 28px;
  background: #397791;
  font-size: 15px;
  color: #ffffff;
  padding: 3px 8px;
  letter-spacing: 2px;
  text-transform: none;
}
@media only screen and (max-width: 767px) {
  .top-contacts-inner .btn-holder span {
    bottom: 3px;
  }
}
.top-contacts-inner .social {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  z-index: 10;
}

.thanks-section-inner {
  padding: 100px 0;
}
.thanks-section-inner .container {
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .thanks-section-inner {
    padding: 100px 0 30px;
  }
}
.thanks-section .title {
  margin-bottom: 25px;
}
.thanks-section .thanks-content {
  max-width: 670px;
  margin: auto;
  padding: 90px 0 80px;
  text-align: center;
  background: url(../img/icons/thanks_logo.png) no-repeat top center;
}
.thanks-section .thanks-content h3 {
  font-family: 'KiroRegular';
  font-size: 49px;
  text-transform: uppercase;
  color: #3a657b;
}
.thanks-section .thanks-content h4 {
  font-family: 'KiroLight';
  font-size: 29px;
  color: #3a657b;
  margin-bottom: 20px;
}
.thanks-section .thanks-content hr {
  border-color: #acacac;
  margin: 10px 0;
}
.thanks-section .thanks-content p {
  font-family: 'KiroLight';
  font-size: 21px;
  text-transform: uppercase;
  color: #66757d;
}
.thanks-section .thanks-content .btn-small {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .thanks-section .thanks-content {
    background-size: 80%;
    background-position: center center;
  }
}

.cart-section-inner {
  padding: 100px 0;
}
.cart-section-inner .title-holder {
  overflow: hidden;
}
.cart-section-inner .title {
  margin-bottom: 25px;
}
.cart-section-item {
  border: 1px solid #919191;
  position: relative;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 0 #e7e7e7;
  -moz-box-shadow: 4px 4px 0 #e7e7e7;
  box-shadow: 4px 4px 0 #e7e7e7;
}
.cart-section-item:after {
  content: "";
  display: table;
  clear: both;
}
.cart-section-item .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: 'KiroBold';
  font-size: 14px;
  color: #415e6d;
  opacity: 1;
}
.cart-section-item .cart-image,
.cart-section-item .cart-description,
.cart-section-item .cart-price {
  vertical-align: middle;
  display: table-cell;
  padding: 15px;
}
.cart-section-item .cart-image {
  width: 25%;
  border-right: 1px solid #919191;
}
.cart-section-item .cart-description {
  width: 45%;
  border-right: 1px solid #919191;
}
.cart-section-item .cart-description p {
  font-family: 'KiroLight';
  font-size: 15px;
  color: #5a6971;
  text-align: justify;
  margin-bottom: 5px;
}
.cart-section-item .cart-description .tags {
  text-align: right;
}
.cart-section-item .cart-description .tags .tag {
  display: inline-block;
  padding: 5px;
  border: 1px solid #b0b0b0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.cart-section-item .cart-description .tags .tag span {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  font-family: 'KiroLight';
  font-size: 16px;
  color: #3e5a69;
}
.cart-section-item .cart-description .tags .tag .hexagon {
  float: right;
  margin-left: 5px;
}
.cart-section-item .cart-price {
  width: 30%;
  padding-bottom: 20px;
}
.cart-section-item .cart-price:after {
  content: "";
  display: table;
  clear: both;
}
.cart-section-item .cart-price .cart-name {
  float: left;
  width: 75%;
  text-align: right;
  padding-right: 20px;
}
.cart-section-item .cart-price .cart-name h5 {
  font-family: 'KiroBold';
  text-transform: uppercase;
  font-size: 23px;
  color: #c8600c;
  margin-bottom: 10px;
}
.cart-section-item .cart-price .cart-name .price {
  font-family: 'KiroLight';
  font-size: 35px;
  color: #3b7492;
  letter-spacing: 2px;
}
.cart-section-item .cart-price .cart-count {
  float: right;
  width: 75px;
  border: 1px solid #acacac;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.cart-section-item .cart-price .cart-count:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  width: 19px;
  height: 1px;
  background: #3b7492;
}
.cart-section-item .cart-price .cart-count input {
  padding: 15px 10px;
  border: none;
  width: 50%;
  font-family: 'KiroExtraLight';
  font-size: 30px;
  color: #415e6d;
  border-right: 1px solid #acacac;
}
.cart-section-item .cart-price .cart-count .minus, .cart-section-item .cart-price .cart-count .plus {
  position: absolute;
  right: 13px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  cursor: pointer;
}
.cart-section-item .cart-price .cart-count .plus {
  border-bottom: 10px solid #3b7492;
  top: 15px;
}
.cart-section-item .cart-price .cart-count .minus {
  border-top: 10px solid #3b7492;
  bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .cart-section-item .cart-price .cart-name {
    float: none;
    width: 100%;
  }
  .cart-section-item .cart-price .cart-count {
    float: none;
    margin: 10px auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .cart-section-item .cart-image,
  .cart-section-item .cart-description,
  .cart-section-item .cart-price {
    display: block;
    width: 100%;
  }
  .cart-section-item .cart-image {
    border: none;
  }
  .cart-section-item .cart-description {
    border: none;
  }
}
.cart-section .cart-submit {
  text-align: right;
}
.cart-section .cart-submit span {
  letter-spacing: 1px;
}
.cart-section .cart-submit .items {
  float: left;
}
.cart-section .cart-submit .items, .cart-section .cart-submit .included {
  font-family: 'KiroLight';
  font-size: 15px;
  color: #556269;
}
.cart-section .cart-submit p {
  font-family: 'KiroLight';
  font-size: 32px;
  color: #758790;
}
.cart-section .cart-submit p span {
  color: #3f5d6d;
}
.cart-section .cart-submit hr {
  margin: 10px 0;
  border-color: #acacac;
}
.cart-section .cart-submit .btn-small {
  padding: 10px 45px;
}

.cart-form-inner {
  padding: 100px 0;
  overflow: hidden;
}
.cart-form-inner .title {
  margin-bottom: 25px;
}
.cart-form-content {
  padding: 0 40px;
}
.cart-form-content .warning {
  background: #c07681;
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'KiroLight';
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 2px;
}
.cart-form-content .input-inner:after {
  content: "";
  display: table;
  clear: both;
}
.cart-form-content .input-inner .left {
  width: 49%;
  float: left;
}
.cart-form-content .input-inner .right {
  width: 49%;
  float: right;
}
@media only screen and (max-width: 767px) {
  .cart-form-content {
    padding: 0;
  }
  .cart-form-content .input-inner .left, .cart-form-content .input-inner .right {
    width: 100%;
    float: none;
  }
}
.cart-form-checkout {
  text-align: right;
  margin-top: 20px;
}
.cart-form-checkout p {
  font-family: 'KiroLight';
  font-size: 15px;
  color: #3b7492;
  letter-spacing: 2px;
  padding-right: 40px;
}
.cart-form-checkout hr {
  border-color: #95aebb;
  margin: 15px 0;
}
.cart-form-checkout .btn-holder {
  padding-right: 40px;
}
.cart-form-checkout .btn-holder:after {
  content: "";
  display: table;
  clear: both;
}
.cart-form-checkout .btn-holder img {
  float: right;
  margin-right: 30px;
}
.cart-form-checkout .btn-holder .btn-small {
  float: right;
  padding: 10px 40px;
}

.shop-items-inner {
  padding: 100px 0 40px;
  text-align: center;
}
.shop-items-inner .title-holder {
  overflow: hidden;
}
.shop-items-inner .title {
  margin-bottom: 25px;
}
.shop-items-single {
  border: 1px solid #919191;
  padding-bottom: 90px;
  margin-bottom: 20px;
  min-height: 410px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 0 0 #e7e7e7;
  -moz-box-shadow: 4px 4px 0 0 #e7e7e7;
  box-shadow: 4px 4px 0 0 #e7e7e7;
}
.shop-items-title {
  font-family: "KiroBold";
  font-size: 33px;
  color: #f4f7fc;
  text-transform: uppercase;
  padding: 15px 5px;
  position: relative;
}
.shop-items-title:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  margin-left: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.shop-items-title.blue {
  background: #558ba7;
}
.shop-items-title.blue:after {
  border-top: 5px solid #558ba7;
}
.shop-items-content {
  padding: 30px 40px 45px;
  border-top: 1px solid #cbcbcb;
}
.shop-items-content p {
  font-size: 19px;
  color: #515151;
  letter-spacing: 2px;
}
.shop-items-content p.choice {
  display: inline-block;
  margin-bottom: 5px;
}
.shop-items-content .sod_select {
  width: 120px;
  font-family: "KiroLight";
  font-size: 19px;
  color: #758086;
  border-radius: 0;
  padding: 5px 15px;
  border-color: #7d7d7d;
}
.shop-items-content .sod_select:after {
  border-color: #7d7d7d;
  padding: 8px 8px 0;
}
.shop-items-content .sod_select .sod_list_wrapper {
  width: 91px;
  left: -1px;
  border-color: #7d7d7d;
}
.shop-items-content .sod_select .sod_option {
  padding: 5px 15px;
}
.shop-items-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background: #558ba7;
}
.shop-items-bottom .btn-small {
  padding: 10px 50px;
  display: block;
  max-width: 240px;
  margin: -20px auto 0;
}
.shop-items-price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3b7492;
  padding: 11px 0;
  font-family: "KiroLight";
  font-size: 31px;
  color: #ffffff;
}
.shop-items-price:before, .shop-items-price:after {
  content: '';
  position: absolute;
  top: 24px;
  background: url(../img/icons/lines.png) no-repeat;
  width: 17px;
  height: 10px;
}
.shop-items-price:before {
  left: 10%;
}
.shop-items-price:after {
  right: 10%;
}

.shop-items-section .carousel-holder {
  padding: 15px 0;
}
