.cart-form {
    &-inner {
        padding: 100px 0;
        overflow: hidden;
        .title {
            margin-bottom: 25px;
        }
    }
    &-content {
        padding: 0 40px;
        .warning {
            background: #c07681;
            padding: 10px 5px;
            text-align: center;
            margin-bottom: 40px;
            font-family: 'KiroLight';
            font-size: 15px;
            color: $white;
            letter-spacing: 2px;
        }
        .input-inner {
            @include clearfix;
            .left {
                width: 49%;
                float: left;
            }
            .right {
                width: 49%;
                float: right;
            }
        }
        @media #{$mobile} {
            padding: 0;
            .input-inner {
                .left, .right {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    &-checkout {
        text-align: right;
        margin-top: 20px;
        p {
            font-family: 'KiroLight';
            font-size: 15px;
            color: #3b7492;
            letter-spacing: 2px;
            padding-right: 40px;
        }
        hr {
            border-color: #95aebb;
            margin: 15px 0;
        }
        .btn-holder {
            @include clearfix;
            padding-right: 40px;
            img.paypal {
                float: right;
            }
            .btn-small {
                float: right;
                padding: 10px 40px;
                margin-left: 30px;
            }
            @media #{$mobile} {
                text-align: center;
                padding-right: 0;
                img.paypal, .btn-small {
                    float: none;
                    width: 80%;
                    margin-left: 0;
                }
                img.paypal {
                    margin-top: 10px;
                }
            }
        }
        @media #{$mobile} {
            p {
                padding-right: 0;
                text-align: center;
            }
        }
    }
}