.top-section {
    background: url(../img/bg/top_bg.jpg) center;
    @include background-size (cover);
    text-align: center;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(74,131,157,.7);
        width: 100%;
        height: 150px;
    }
}
.top-main {
    border-bottom: 15px solid $white;
    &:after {
        bottom: -15px;
    }
    &:before {
        content: '';
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $white;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -10px;
    }
    .header {
        position: relative;
    }
    .header-logo {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -136px;
        @media #{$mobile} {
            position: static;
            display: block;
            margin-left: 0;
            margin-bottom: 25px;
        }
    }
    &-inner {
        padding-top: 25px;
        padding-bottom: 340px;
        .divider {
            margin: 20px 0 35px;
            span {
                background: $gray;
            }
        }
        p {
            font-family: 'NexaLight';
            font-size: 30px;
            color: $gray;
            margin: 10px 0;
        }
        @media #{$mobile} {
            padding-bottom: 200px;
            h1 {
                font-size: 70px;
            }
        }
    }
    .scroll-down {
        position: absolute;
        left: 0;
        bottom: 60px;
        width: 100%;
        text-align: center;
        z-index: 10;
        a {
            color: #ffffff;
            position: relative;
            display: inline-block;
            img {
                margin: 0 5px;
            }
            &:before, &:after {
                content: '';
                width: 61px;
                position: absolute;
                left: 50%;
                margin-left: -30px;
            }
            &:before {
                background: url(../img/icons/scroll_down_before.png) no-repeat;
                height: 20px;
                top: -25px;
            }
            &:after {
                background: url(../img/icons/scroll_down_after.png) no-repeat;
                height: 28px;
                bottom: -33px;
            }
        }
    }
}


.whatis-section {
    background: url(../img/bg/whatis_bg.jpg) center;
    @include background-size (cover);
    border-top: 15px solid $white;
    padding: 60px 0 90px;
    position: relative;
    p {
        font-family: 'KiroExtraLight';
        font-size: 25px;
        color: $white;
        text-align: center;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 16px;
        background: url(../img/bg/shape_bg.png) center;
    }
    &:before {
        content: '';
        background: url(../img/icons/black_hexagon.png);
        width: 85px;
        height: 99px;
        position: absolute;
        left: 50%;
        bottom: -41px;
        margin-left: -42px;
        z-index: 10;
    }
}

.bike-section {
    text-align: center;
    padding: 120px 0 100px;
    background: url(../img/bg/bike_bg.jpg);
    .description {
        position: absolute;
        top: 50px;
        width: 300px;
        p {
            font-size: 25px;
            color: #397791;
            @include clearfix;
            margin-bottom: 5px;
        }
        span {
            background: #397791;
            padding: 0 8px 3px;
            font-family: 'KiroBold';
            font-size: 19px;
            color: #ececec;
            margin-top: 4px;
        }
        &.left-description {
            left: 0;
            text-align: left;
            span {
                float: left;
                margin-right: 10px;
            }
        }
        &.right-description {
            text-align: right;
            right: 0;
            span {
                float: right;
                margin-left: 10px;
            }
        }
    }
    @media #{$mobile} {
        padding: 60px 0;
        img {
            width: 100%;
        }
        .description {
            position: static;
            width: auto;
            max-width: 300px;
            margin: auto;
        }
    }
}

.gallery-section {
    overflow: hidden;
    .gallery {
        img {
            height: 155px;
        }
    }
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-carousel .owl-stage-outer:before,
.owl-carousel .owl-stage-outer:after {
  content: '';
  height: 155px;
  width: 1000px;
  position: absolute;
  top: 0;
  background: rgba(255,255,255,.8);
  z-index: 1000000;
}
.owl-carousel .owl-stage-outer:before {
  right: 100%;
  margin-right: -70px;
}
.owl-carousel .owl-stage-outer:after {
  left: 100%;
  margin-left: -70px;
}
}


.traits-section {
    background: url(../img/bg/traits_bg.jpg) center;
    @include background-size (cover);
    padding: 60px 0 40px;
    text-align: center;
    .image-holder {
        margin-bottom: 15px;
        height: 115px;
        line-height: 115px;
        img {
            vertical-align: bottom;
        }
    }
    p {
        font-family: 'KiroBold';
        font-size: 19px;
        color: #ececec;
    }
    @media #{$mobile} {
      .traits-section-item {
        margin-bottom: 20px;
      }
    }
}

.story-section {
    background: #2a2a2a;
    padding: 80px 0 200px;
    overflow: hidden;
    border-top: 20px solid #252c30;
    border-bottom: 15px solid #373737;
    .story-left {
        &-inner {
            display: inline-block;
            position: relative;
            .item {
                position: absolute;
                top: 115px;
                left: 0;
            }
        }
        @media #{$tablet} {
            text-align: center;
            margin-bottom: 25px;
        }
        @media #{$mobile} {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .story-right {
        text-align: right;
        h4 {
            color: #d4e2e8;
        }
        .divider {
            text-align: right;
            margin: 5px 0 10px;
            span {
                background: #d4e2e8;
                width: 30px;
            }
        }
        p {
            font-family: 'KiroExtraLight';
            font-size: 25px;
            color: #d4e2e8;
        }
        @media #{$tablet} {
            text-align: center;
            .divider {
                text-align: center;
            }
        }
    }
}

.faq-section {
    background: #134761;
    padding-bottom: 65px;
    position: relative;
    .tabpanel {
        position: relative;
    }
    .nav-tabs {
        border-color: #d2e2e9;
        margin-top: -110px;
        li {
            width: 50%;
            @include transition (all, 0.4s, linear);
            position: relative;
            margin-bottom: 0;
            a {
                text-align: center;
                font-family: 'NexaSlabBold';
                font-size: 30px;
                color: #747474;
                text-transform: uppercase;
                letter-spacing: 5px;
                border-color: transparent;
                margin-right: 0;
                padding: 35px 0 30px;
                background: #ffffff;
                @include border-radius (0);
                @include transition (all, 0.4s, linear);
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    height: 5px;
                    width: 20px;
                    margin-left: -10px;
                    background: #747474;
                    @include transition (all, 0.4s, linear);
                }
                &:focus {
                    border-color: transparent;
                }
            }
            &:hover, &.active {
                a {
                    background: #d2e2e9;
                    color: #134761;
                    &:before {
                        background: #134761;
                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -15px;
                width: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid transparent;
                @include transition (all, 0.4s, linear);
            }
            &.active:after {
                border-top: 15px solid #d2e2e9;
            }
        }
    }
    .tab-content {
        background: #ffffff;
        @include clearfix;
        padding: 65px 50px;
    }
    .tab-items {
        .divider {
            margin-bottom: 10px;
            span {
                width: 210px;
                height: 4px;
                background: #397791;
            }
        }
        h5 {
            font-family: 'KiroBold';
            font-size: 19px;
            color: #2d2d2d;
        }
        p {
            text-align: justify;
            font-family: 'KiroLight';
            font-size: 19px;
            line-height: 1.2;
        }
        &.left {
            text-align: left;
            .divider {
                text-align: left;
            }
        }
        &.right {
            text-align: right;
            .divider {
                text-align: right;
            }
        }
    }
    @media #{$mobile} {
        .nav-tabs {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
        .tab-content {
            padding: 35px 20px;
        }
        .tab-items {
            .divider {
                span {
                    width: 100%;
                }
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 16px;
        background: url(../img/bg/shape_bg.png) center;
    }
    &:before {
        content: '';
        background: url(../img/icons/black_hexagon.png);
        width: 85px;
        height: 99px;
        position: absolute;
        left: 50%;
        bottom: -55px;
        margin-left: -42px;
        z-index: 10;
    }
}



.green-section {
    background: url(../img/bg/green_bg.jpg) top;
    @include background-size (cover);
    padding: 105px 0 55px;
    text-align: center;
    h3 {
        color: #fcfcfc;
        margin-bottom: 20px;
    }
    p {
        color: $white;
        font-family: 'KiroExtraLight';
        font-size: 23px;
    }
    .eco {
        margin-top: 80px;
        text-align: left;
        p {
            padding-right: 110px;
        }
        img {
            float: right;
        }
    }
    .green-bottom {
        margin-top: 200px;
        p {
            color: #2b2b2b;
            margin-bottom: 20px;
        }
        .social {
            margin-top: 35px;
        }
    }
    @media #{$tablet} {
        h2 {
            font-size: 45px;
        }
    }
}





















