
.hexagon {
  position: relative;
  width: 35px;
  height: 20.21px;
  margin: 10.10px 0;
  border-left: solid 1px #c7c7b2;
  border-right: solid 1px #c7c7b2;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 24.75px;
  height: 24.75px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 4.1256px;
}

.hexagon:before {
  top: -12.3744px;
  border-top: solid 1.4142px #c7c7b2;
  border-right: solid 1.4142px #c7c7b2;
}

.hexagon:after {
  bottom: -12.3744px;
  border-bottom: solid 1.4142px #c7c7b2;
  border-left: solid 1.4142px #c7c7b2;
}

.hexagon.black {
  background-color: #343434;
}
.hexagon.white {
  background-color: #ffffff;
}
.hexagon.yellow {
  background-color: #f3f146;
}
.hexagon.blue {
  background-color: #47b2e5;
}
.hexagon.red {
  background-color: #fe6d70;
}
.hexagon.green {
  background-color: #99d536;
}