@font-face {
    font-family:"Socialico";
    src:url("../fonts/Socialico.eot?") format("eot"),
    url("../fonts/Socialico.woff") format("woff"),
    url("../fonts/Socialico.ttf") format("truetype"),
    url("../fonts/Socialico.svg#Socialico") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'KiroExtraLight';
    src: url('../fonts/KiroExtraLight.eot');
    src: url('../fonts/KiroExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KiroExtraLight.woff') format('woff'),
         url('../fonts/KiroExtraLight.ttf') format('truetype'),
         url('../fonts/KiroExtraLight.otf') format('otf');
}
@font-face {
    font-family: 'KiroLight';
    src: url('../fonts/KiroLight.eot');
    src: url('../fonts/KiroLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KiroLight.woff') format('woff'),
         url('../fonts/KiroLight.ttf') format('truetype'),
         url('../fonts/KiroLight.otf') format('otf');
}
@font-face {
    font-family: 'KiroRegular';
    src: url('../fonts/KiroRegular.eot');
    src: url('../fonts/KiroRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KiroRegular.woff') format('woff'),
         url('../fonts/KiroRegular.ttf') format('truetype'),
         url('../fonts/KiroRegular.otf') format('otf');
}
@font-face {
    font-family: 'KiroBold';
    src: url('../fonts/KiroBold.eot');
    src: url('../fonts/KiroBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KiroBold.woff') format('woff'),
         url('../fonts/KiroBold.ttf') format('truetype'),
         url('../fonts/KiroBold.otf') format('otf');
}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.otf') format('otf');
}
@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaBold.woff') format('woff'),
         url('../fonts/NexaBold.ttf') format('truetype'),
         url('../fonts/NexaBold.otf') format('otf');
}
@font-face {
    font-family: 'NexaSlabRegular';
    src: url('../fonts/NexaSlabRegular.eot');
    src: url('../fonts/NexaSlabRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabRegular.woff') format('woff'),
         url('../fonts/NexaSlabRegular.ttf') format('truetype'),
         url('../fonts/NexaSlabRegular.otf') format('otf');
}
@font-face {
    font-family: 'NexaSlabBold';
    src: url('../fonts/NexaSlabBold.eot');
    src: url('../fonts/NexaSlabBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaSlabBold.woff') format('woff'),
         url('../fonts/NexaSlabBold.ttf') format('truetype'),
         url('../fonts/NexaSlabBold.otf') format('otf');
}