$container-width: 960px;
$goods-height: 445px;

$min-slider-width: 960px;
$min-slider-height: 500px;
$max-slider-height: 565px;

$main-font: 'Ubuntu', sans-serif;
$main-font-size: 16px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$black: #000000;
$white: #ffffff;
$while-darken: #fefefe;
$yellow: #ffe400;
$gray: #232323;
$gray-light: #9f9f9f;

$main-padding: 15px 0 30px;

