
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$black: #000000;
$white: #ffffff;
$gray: #2f2f2f;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";
